.panel-block {
    justify-content: space-between;
}

.panel-block p {
    cursor: pointer;
}

.panel-icon {
    margin-right: 0;
    cursor: pointer;
}

.fullwidth {
    width: 100%;
}

.section {
    padding: 2rem 0;
}

.table tr td:nth-child(2),
.table tr td:nth-child(3) {
    width: 100px;
}

tr.completed {
    opacity: 0.5;
}

tr.completed td:first-child {
    text-decoration: line-through;
}

.notification {
    position: fixed;
    top: 20px;
    left: 20px;
    max-width: 300px;
}

.card-header {
    background: hsl(171, 100%, 41%);
}

.header {
    background-color: hsl(171, 100%, 41%);
    text-align: center;
    padding: 20px 0;
}
/* &--fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
    }
  
    &--transparent {
      background-color: rgba($bg-color, 0.9);
    }
   */
/* .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } */

/* &__brand {
  
      h1 {
        font-size: 20px;
  
        a {
          color: $text-color;
        }
      }
    } */

.header__nav_lang {
    display: flex;
    align-items: center;
    position: relative;
}

.selected {
    width: 50px;
    background-color: hsl(171, 100%, 41%);
    color: black;
    padding: 5px;
    font-weight: 700;
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: hsl(171, 100%, 41%);
    border-radius: 2px;
    padding: 5px 0;
}

li {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
}

ul.dropdown > li:hover{
    color: black;
    
}
